* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-image: url("../pics/temp_02.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding:0px;
    margin: 0px;
    overflow-y: hidden;
}


.container {
    max-width: 500px;
    background: #0d0b4a;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 35px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon {
    font-size: 48px;
    color: #ffffff;
}

h1 {
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 30px;
}

#celsius,
#fahrenheit,
#kelvin {
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

input {
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 9px 0 0 9px;
    padding: 0 10px;
}


/* for chrome, safari, Edge, Opera */ 
 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.icon {
    flex: 1.6;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #31d7f4;
    color: #000000;
    border-radius: 0 9px 9px 0;
}


.button {
    margin-top: 20px;
    text-align: center;
}


.button button {
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover {
    background:#31d7f4;
    color: #3f0606;
}